* {
    margin: 0;
    padding: 0;
}

.all {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('/assets/images/fundo.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #444;
}


section {
    color: #f0b83d;
    font-size: large;
    position: absolute;
    left: 0;
    right: 0;
    padding: 2%;
    margin: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

textarea {
    width: 100%;
    max-width: 90%;
    margin: 2% 4% 0 0;
    background: rgb(110 170 202 / 15%);
    color: aliceblue;
    font-size: large;
    resize: none; /* Desabilita o redimensionamento */
    outline: none; /* Remove o contorno ao focar */
}

textarea::-webkit-input-placeholder { /* Chrome e Safari */
    color: #0f0569;
    font-style: italic;
}

.historico {
    font-size: 16px;
}

section#sobre {
    text-align: center;
}

.icones {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.icone {
    text-align: center;
    padding: 1rem;
    flex-basis: 10%;
}

input[type="text"] {
    width: 80%;
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
    border: 1px solid #4A88DD;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

button {
    margin: 2px;
    padding: 6px 12px;
    background-color: #cf8e13;
    border: none;
    border-radius: 10px;
    color: #005db7;
    font-size: 14px;
    font-weight: bolder;
}

button:hover {
    background-color: #3576bb;
}

.resposta-texto {
    max-height: 380px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(38 37 37 / 62%);
    color: #fffefd;
    font-size: 18px;
    font-weight: bolder;
    font-family: monospace;
    text-align: left;
    text-align: left;
    text-shadow: 6px 4px 5px #f5ac21eb;
    letter-spacing: 0.5px;
}

.log {
    margin-bottom: 10%;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 4px;
    background: rgb(210 222 229 / 35%);
    color: #b87d22;
    max-width: 90%;
    text-align: center;
    margin-left: 4%;
}

.detalhes {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
}

#imagens {
    img {
      max-width: 100%; // Garante que a imagem não exceda a largura do contêiner
      height: auto; // Mantém a proporção da imagem
      display: block;
      margin: 0 auto; // Centraliza a imagem
    }

    button {
      margin-top: 1rem;
    }
  }

footer {
    text-align: center;
    padding: 0 4%;
    color: #ffffff8f;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
